@model MainPageModel
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";

    decimal kdvdahil = 0;
    int count = 0;
    int totalQuantity = 0;
    decimal totalUnitprice = 0;
    decimal kdvharic = 0;
    decimal totalkdv = 0;
}

<!-- wishlist area start  -->
<div class="wishlist-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 ">                
                @if (@ViewBag.Sepetim != null)
                {
                    <div class="cart-wrapper table-responsive">
                        <table class="shop_table cart">
                           <thead>
                               <tr>
                                   <th colspan="3" class="product-name">ÜRÜN ADI</th>
                                   <th class="product-price">KDV</th>
                                   <th class="product-price">BİRİM FİYAT</th>
                                   <th class="product-price">ADET</th>
                                   <th class="product-price">TOPLAM FİYAT</th>
                               </tr>
                           </thead>
                           <tbody>
                               @foreach (var item in ViewBag.Sepetim as IList<OrderRepository>)
                               {
                                   <tr class="cart_item">
                                       <td class="remove-product">
                                            <a title="Sepetten Sil" class="remove" href="@Url.Action("Cart" , new { scid = item.ProductID })"><span class="icon-close"></span></a>
                                       </td>
                                       <td class="product-thumbnail">
                                            <a href="/Home/Details/@item.ProductID"><img width="%100" height="%100" alt="04" class="attachment-shop_thumbnail wp-post-image" src="~/img/@item.PhotoPath"></a>
                                       </td>
                                       <td class="product-name">
                                           <a href="/Home/Details/@item.ProductID">@item.ProductName</a>
                                       </td>
                                       <td class="product-name">
                                           <span class="amount">%@item.Kdv</span>
                                       </td>
                                       <td class="product-name">
                                            <span class="amount">@item.UnitPrice ₺</span>
                                       </td>
                                       <td class="product-name">
                                           <span class="amount">@item.Quantity</span>
                                       </td>
                                       <td class="product-name">
                                           @{
                                               kdvdahil = 0;

                                               kdvdahil = Math.Round((((item.Kdv * item.UnitPrice) / 100) + item.UnitPrice) * item.Quantity, 2);
                                           }
                                           <span class="amount">@kdvdahil ₺</span>
                                       </td>
                                   </tr>
                               }
                           </tbody>
                       </table>
                    </div>
                }
                else
                {
                    <span style="font-size:40px;background-color:red;color:white;">SEPETİNİZ BOŞ</span>
                }

                <div class="row">
                    <div class="col-lg-2 col-md-6 col-sm-6 "></div>
                    <div class="col-lg-8 col-md-6 col-sm-6 ">
                        <div class="cart_totals">
                            <h2>SEPET ÖZETİ</h2>
                            <div class="total_table">
                                <table class="table-responsive">
                                    <tbody>
                                        @{
                                            kdvdahil = 0;

                                            @foreach (var item in ViewBag.Sepetim as IList<OrderRepository>)
                                            {
                                                totalQuantity += item.Quantity;
                                                totalUnitprice += item.UnitPrice;
                                                kdvdahil += Math.Round((((item.Kdv * item.UnitPrice) / 100) + item.UnitPrice) * item.Quantity, 2);
                                                kdvharic += Math.Round((item.UnitPrice * item.Quantity), 2);
                                                count++;
                                            }
                                            totalkdv = kdvdahil - kdvharic;
                                        }
                                        <tr class="cart-subtotal">
                                            <th>TUTAR</th>
                                            <td><span class="amount">@kdvharic ₺</span></td>
                                        </tr>

                                        <tr class="cart-subtotal">
                                            <th>KDV</th>
                                            <td>@totalkdv ₺</td>
                                        </tr>

                                        <tr class="cart-subtotal">
                                            <th>TOPLAM</th>
                                            <td><strong><span class="amount">@kdvdahil ₺</span></strong> </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="submit_crt">
                                    <a href="@Url.Action("Order","Home")" title="Ödeme Adımına Geçiniz">
                                        <input type="button" class="update_cart" value="SONRAKİ ADIMA GEÇ" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- wishlist area end  -->
<div class="section" style="display:flex">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">FIRSAT ÜRÜNLERİ</h3>
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab2" class="tab-pane fade in active">
                            <div class="products-slick" data-nav="#slick-nav-3">
                                <!-- product -->
                                @foreach (var item in Model.FeaturedProducts)
                                {
                                    <div class="product">
                                        <div class="product-img">
                                            <img class="my-size" src="~/img/@item.PhotoPath" alt="">
                                            <div class="product-label">
                                                <span class="sale">İNDİRİM</span>
                                                <span class="new">%@item.Discount</span>
                                            </div>
                                        </div>
                                        <div class="product-body">

                                            <h3 class="product-name"><a href=/Home/Details/@item.ProductID>@item.ProductName</a></h3>
                                            <h4 class="product-price">@item.UnitPrice ₺ </h4>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="product-btns">
                                                <a href="/Home/Details/@item.ProductID" title="Detayları Göster"> <i class="fa fa-eye"></i> </a>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <a href="/Home/CartProcess/@item.ProductID">
                                                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> SEPETE EKLE</button>
                                            </a>
                                        </div>
                                    </div>
                                }
                                <!-- /product -->
                            </div>
                            <div id="slick-nav-3" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- /Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>